/**=====================
   Reset css start
==========================**/
.text-gradient-1 {
    background: linear-gradient(90deg, #3A6FFF 11.38%, #FF003D 35.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
    background: linear-gradient(90deg, #3A6FFF 1%, #FF3465 70%, #FFA50A 98.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/**=====================
   Reset css end
==========================**/