/**=====================
   Reset css start
==========================**/
.text-gradient-1 {
    background: linear-gradient(90deg, #3A6FFF 11.38%, #FF003D 35.98%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-2 {
    background: linear-gradient(90deg, #3A6FFF 1%, #FF3465 70%, #FFA50A 98.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// custom font css
@font-face {
    font-family: Larsseit;
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Larsseit-Bold.otf)format('opentype'),
        url('../fonts/Larsseit-Bold.woff') format('woff');
}
@font-face {
    font-family: Larsseit;
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/Larsseit-Medium.otf) format('opentype'),
        url('../fonts/Larsseit-Medium.woff') format('woff');
}
@font-face {
    font-family: Larsseit;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Larsseit-Light.otf) format('opentype'),
        url('../fonts/Larsseit-Light.woff') format('woff');
}

.cursive {
    font-family: 'Caveat', cursive;
    font-weight: 700;
}
.font-light {
    color: var(--text-light-color);
    opacity: 0.8;
}
.section-title {
    margin-bottom: 50px;
    h2 {
        position: relative;
        padding-bottom: 20px;
        span {
            color: $primary;
        }
        &::before, &::after {
            position: absolute;
            content: "";
            height: 1px;
            left: 0;
            background-color: var(--title-bottom-border-color);
        }
        &::before {
            bottom: 7px;
            width: 320px;
        }
        &::after {
            bottom: 0;
            width: 274px;
        }
    }
}

.text-secondary {
    color: $secondary-2;
}

.common-card {
    padding: 12px;
    background: var(--author-profile-bg);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1), inset 0px 4px 4px rgba(165, 185, 231, 0.2);
    border-radius: 10px;
    h3 {
        font-size: 20px;
    }
}
/**=====================
   Reset css end
==========================**/