/**=====================
    Typography css start
==========================**/
body {
    font-size: 14px;
    font-family: Larsseit;
    font-weight: 400;
    color: var(--white);
    background-color: var(--body-background);
    letter-spacing: 0.8px;
}

h1 {
    font-size:70px;
    font-weight: 700;
}

h2 {
    font-size: 45px;
    font-weight: 500;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
}

a {
    text-decoration: unset;
    color: var(--white);
}

li {
    display: inline-block;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

section {
    padding-top: 90px;
}

@media (min-width: 1700px) {
  .custom-container {
    max-width: 1680px;
    margin: 0 auto;
  }
}

/**=====================
    Typography css end
==========================**/