/**=====================
    Typography css start
==========================**/
body {
    -webkit-tap-highlight-color: var(--white);
    font-size: 14px;
}

h1 {
    font-size: 80px;
    font-weight: 500;
}

h2 {
    font-size: 50px;
    font-weight: 500;
}

h3 {
    font-size: 22px;
    line-height: 26px;
    font-weight: 500;
}

p {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
}

section {
    padding-top: 90px;
}

/**=====================
    Typography css end
==========================**/