// All variables
:root {
    --white: #fff;
    --black: #000;

    // header colors
    --header-form-border-color: rgba(142,156,190,.5);
}

// template color plate
$primary: #3A6FFF;
$secondary: #FFA504;
$color-3: #8E9CBE;
$color-4: #1F2A42;
$color-5: #64AF5B;
$color-6: #FF3F49;