/**=====================
    Button css start
==========================**/
.btn {
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}
.btn-default {
    background: conic-gradient(from 180deg at 49.98% 49.44%, #FC8E31 0deg, #FFA504 360deg);
    color: #fff;
}
/**=====================
    Button css end
==========================**/