/**=====================
    Dropdown css start
==========================**/
.dropdown-toggle {
    &:after {
        border: none;
        background-image: url(../images/icons/chevron-down.png);
        background-size: 10px;
        background-position: right;
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        vertical-align: -1px;
    }
}
.dropdown-menu {
    background-color: var(--dropdwon-menu-bg);
    padding: 0;
    overflow: hidden;
    .dropdown-item {
        color: var(--dropdown-item-text-color);
        padding: 12px 16px;
        border-bottom: 1px solid var(--header-form-border-color);
        &.active, &:active, &:hover, &:focus {
            background: linear-gradient(180deg, $primary 0%, transparent 100%);
            color: $white;
        }
        &:focus {
            outline: none;
        }
    }
    li {
        display: block;
        &:last-child {
            .dropdown-item {
                border-bottom: none;
            }
        }
    }
}
/**=====================
    Dropdown css end
==========================**/