/**=====================
    Header css start
==========================**/
header {
    position: absolute;
    top: 0;
    width: 100%; 
    .navbar {
        padding: 20px 0;
    }
    .bg-dark {
        background: transparent !important;
    }
    a {
        text-transform: capitalize;
    }
    .btn {
        min-width: 168px;
        padding: 9px;
    }
    .nav-link {
        color: var(--white);
        position: relative;
        font-weight: 500;
        &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 2px;
            background-color: $primary;
            bottom: 8px;
            left: 15px;
            opacity: 0;
            transition: width 1s ease-in;
        }
        &:focus, &:hover {
            color: var(--white);
        }
    }
    .nav-item {
        &.active {
            .nav-link {
                &::before {
                    opacity: 1;
                    transition: width 1s ease-in;
                }
            }
        }
    }
    .navbar-nav {
        .nav-link {
            &.active {
                color: var(--white);
            }
        }
        .show {
            >.nav-link {
                color: var(--white);
            }
        }
    }
    .input-group {
        input {
            border-right: none;
        }
        .input-group-text {
            background-color: transparent;
            border-color: var( --header-form-border-color);
            border-left: none;
            margin-left: 0;
        }
        >:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
            margin-left: 0;
        }
    }
    .form-control {
        background-color: transparent;
        border-color: var( --header-form-border-color);
        color: var(--white);
        &::placeholder {
            color: var( --header-form-border-color);
        }
        &:focus {
            background-color: transparent;
            color: var(--white);
        }
    }
    .dropdown-menu {
        @include media-breakpoint-up(lg) {
            min-width: 200px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {
                padding: 14px;
            }
        }
    }
}
/**=====================
    Header css end
==========================**/