/**=====================
    Home page css start
==========================**/
.home-container {
    background-image: url(../images/home-page/bg-1.jpg);
    background-size: cover;
    text-align: center;
}

/**=====================
    Home page css end
==========================**/